* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333333;
}

/* Home */
.home {
  background: url(./Images/bg-home.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header .brand {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
  color: #fff;
}

.header .brand:hover {
  color: #fff;
}

.header .brand span {
  color: #ec3642;
}

.header .link {
  text-decoration: none;
  margin-left: 25px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
}

.title-home {
  margin-top: 20vh;
}

.title-home .head-paragraph {
  font-size: 50px;
  font-weight: 500;
  color: #ffff;
  text-transform: capitalize;
}

.title-home .second-head-paragraph {
  font-size: 35px;
  color: #ffff;
  text-transform: uppercase;
}

.title-home .second-head-paragraph span {
  color: #ec3642;
}

.title-home h6 {
  color: #ffff;
}

.title-home .links {
  margin-top: 30px;
  display: flex;
}

.title-home .links .btn-pricing {
  background-color: #ec3642;
  border: none;
  color: #ffff;
  padding: 8px 20px 10px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.title-home .links .btn-services {
  background-color: #03030300;
  border: 1px #ec3642 solid;
  color: #ffff;
  padding: 8px 20px 10px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  margin: 0 15px;
}

/* about */
.about {
  padding: 10vh 0;
  background-color: #101010;
  color: #ffff;
}

.about img {
  width: 100%;
  border-radius: 4px;
}

.about h4 {
  text-transform: capitalize;
}

.about span {
  color: #ec3642;
}

.about .line1 {
  height: 2px;
  width: 100px;
  background: #ec3642;
  display: inline-block;
  margin-top: 15px;
}

.about h6 {
  margin-bottom: 30px;
}

.about .btn-contact {
  background-color: #ec3642;
  border: none;
  color: #ffff;
  padding: 8px 20px 10px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

/* trainers */

.trainers {
  padding-top: 20vh;
  background-color: #101010;
  color: #ffff;
}

.trainers h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.line {
  height: 2px;
  width: 70px;
  background: #ec3642;
  margin: 20px auto;
}

.trainers img {
  margin: 60px 40px 80px 0;
  width: 100%;
}

/* services */

.services {
  padding-top: 20vh;
  background-color: #161616;
  color: #ffff;
  text-align: center;
}

.services h3 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.services p {
  text-align: center;
}

.services h5 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 600;
}

.services h6 {
  text-align: center;
}

.services button {
  background-color: #03030300;
  border: 1px #ec3642 solid;
  color: #ffff;
  padding: 5px 20px 8px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: .7s;
  margin: 20px auto 40px;
}

.services button:hover {
  background-color: #ec3642;
}

.services .paragraph-icon {
  font-size: 25px;
  margin: 20px 0;
  border: #ec3642 1px solid;
  border-radius: 50%;
  padding: 8px 14px 10px;
  width: min-content;
  position: relative;
  display: inline-block;
  transition: .7s;
}

.services .paragraph-icon:hover {
  background-color: #ec3642;
}

/* testimonial */

.testimonial {
  background-image: url(./Images//bg-customer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffff;
  padding: 100px 0;
}

.testimonial h3 {
  text-align: center;
  font-weight: 700;
}

.testimonial .swiper-slide {
  background-color: #333333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: none;
  margin-top: 30px;
}

.testimonial .paragraph-icon-customer {
  color: #ec3642;
  font-size: 25px;
}

.testimonial .paragraph-customer-work {
  color: #ec3642;
}

.testimonial .swiper-slide img {
  width: 80%;
  height: 90%;
  border-radius: 100%;
}

/* pricing */

.pricing {
  color: #fff;
  padding: 100px 0;
  text-align: center;
  padding: 40px 30px;
  background-color: #101010;
}

.pricing .col-price {
  border: 2px solid #333333;
  padding: 45px;
  background-color: #101010;
  margin: 20px 15px;
  width: 100%;
  transition: .7s;
}

.pricing .col-price:hover {
  border-color: #ec3642;
}

.pricing h5 {
  font-weight: 650;
}

.pricing .paragraph-price {
  font-weight: 600;
  font-size: 22px;
}

.pricing .paragraph-price span {
  font-weight: 650;
  font-size: 35px;
  margin: 0 10px 0 0;
}

.pricing .paragraph-details {
  font-weight: 600;
  margin: 10px 0;
}

.pricing .btn-buy {
  background-color: #101010;
  color: #fff;
  border: 2px solid #ec3642;
  padding: 8px 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 25px 0 0 0;
  transition: .7s;
}

.pricing .btn-buy:hover {
  background-color: #ec3642;
}

.pricing .col-price-2 {
  border: 2px solid #ec3642;
  padding: 45px;
  background-color: #ec3642;
  margin: 20px 15px;
  width: 100%;
}

.pricing .btn-buy-2 {
  background-color: #ec3642;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 25px 0 0 0;
}

.pricing .line-2 {
  margin: 20px auto;
  width: 30%;
  height: 2px;
  background-color: #fff;
}

/* blog */
.blog {
  padding: 80px 0;
  background-color: #161616;
  color: #ffff;
}

.blog h3 {
  font-weight: 650;
  text-align: center;
  text-transform: capitalize;
}

.blog .blog-box {
  border: 2px solid #333333;
  transition: .7s;
}

.blog .blog-box:hover {
  border-color: #ec3642;
}

.blog img {
  width: 100%;
}

.blog .paraghraph-title {
  font-weight: 650;
  margin: 30px 15px;
  text-transform: uppercase;
}

.blog .line-blog {
  margin: 20px 0 20px 15px;
  width: 70px;
  background-color: #e9505a;
  height: 2px;
}

.blog .paragraph-date span {
  font-weight: 650;
}

.blog .paragraph-date {
  font-weight: 450;
  margin: 10px 15px 20px;
}

.blog .blog-box .paragraph-details {
  margin: 20px 15px;
  font-weight: 600;
  line-height: 1.7;
}

.blog .btn-read-more {
  background-color: #e9505a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  font-weight: 650;
  text-transform: uppercase;
  cursor: pointer;
  transition: .7s;
  margin: 20px 15px 40px;
}

.blog .btn-read-more:hover {
  background-color: #ec3642;
}

/* contact */
.contact {
  padding: 100px 0;
  background-image: url(./Images/bg-contact.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffff;
}

.contact h3 {
  font-weight: 650;
  text-align: center;
  margin: 20px 0;
}

.contact .text-box-contact {
  display: flex;
  justify-content: space-between;
}

.contact .text-box-contact p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 550;
}

.contact .text-box-contact h6 {
  font-weight: 600px;
}

.contact .form-contact input {
  width: 100%;
  padding: 2px 10px;
  color: #ffff;
  background-color: #79000000;
  border: 1px solid #fde1e1;
}

.contact .form-contact input::placeholder {
  color: #ffffffb2;
  font-size: 14px;
}

.contact .form-contact textarea {
  width: 100%;
  padding: 2px 10px;
  color: #ffff;
  background-color: #79000000;
  border: 1px solid #fde1e1;
  margin: 30px 0;
}

.contact textarea::placeholder{
  color: #ffffffb2;
  font-size: 14px;
  height: 20vh;
  overflow: auto;
}

.contact .btn-send {
  background-color: #e9505a;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-top: 30px;
  text-transform: uppercase;
}

/* footer */

.footer {
  background-color: #161616;
  padding: 80px 0;
  color: #ffffff;
}

.footer h4 {
  text-transform: uppercase;
  font-weight: 650;
}

.footer h4 span {
  color: #ec3642;
}

.footer .line-footer {
  width: 50px;
  height: 2px;
  background-color: #ec3642;
  margin: 20px 0;
}

.footer h6 {
  font-weight: 660;
  text-transform: uppercase;
  margin: 20px 0;
}

.footer .btn-social {
  color: #ffff;
  font-size: 14px;
  background-color: #161616;
  padding: 8px 15px 0;
  border: 1px solid #ffffff;
  margin-right: 20px;
}

.footer .btn-social:hover {
  border-color: #e9505a;
}

.footer .ul p {
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
}

.footer .ul p:hover {
  color: #f56871;
}

/* copyRight */
.copy-right {
  background: #090909;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}